{% extends "core/base.html" %}
{% load static %}
{% block contenido %}


  <section class="py-5 text-center container" style="margin-top: 20px;">
    <div class="row py-lg-5" style="background-image: url({% static 'img/natacion2.jpg' %});background-size: cover;">
      <div class="col-2">
        <img src="{% static 'img/logo-1668627386.jpg' %}" alt="">
      </div>
      <div class="col-lg-6 col-md-8 mx-auto" >
        <h1 class="fw-light" style="color: aliceblue;">Natacion</h1>
        <p class="lead" style="color: aliceblue;">
          ¡Sumérgete en el mundo acuático con nuestra categoría de natación! Ya seas un nadador experimentado o estés buscando aprender, aquí encontrarás todo lo que necesitas para disfrutar al máximo de este deporte<p>
     </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col">
          <div class="card shadow-sm">
            
            <img src="{% static 'img/natacion/art1.jpg' %}" width="100%" height="225" alt="">

            <div class="card-body">
              <p class="card-text">Manopla natación</p>
              <p class="card-text">$19.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/natacion/art2.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Set de natación adulto</p>
              <p class="card-text">$8.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary"><p style="color: red;">No Disponible</p></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/natacion/art3.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Aletas de natación</p>
              <p class="card-text">$24.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/natacion/art4.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Toalla de microfibra</p>
              <p class="card-text">$5.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/natacion/art5.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Flotador triatlón</p>
              <p class="card-text">$14.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary"><p style="color: red;">No Disponible</p></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/natacion/art6.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Tapones para oidos</p>
              <p class="card-text">$2.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary"><p style="color: red;">No Disponible</p></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/natacion/art7.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Set de natación profesional</p>
              <p class="card-text">$29.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/natacion/art8.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Flotador goma eva</p>
              <p class="card-text">$7.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/natacion/art9.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Gorra de natación </p>
              <p class="card-text">$3.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %} 