{% extends "core/base.html" %}
{% load static %}

{% block contenido %}


  <!-- titulo de articulo pagina-->
  <section class="py-5 text-center container" style="margin-top: 20px;">
    <div class="row py-lg-5" style="background-image: url({%static 'img/fondo.jpg' %});background-size: cover;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="img/logo-1668627386.jpg" alt="">
        <h1 class="fw-light" style="color: aliceblue;">Sport Home </h1>
        <p class="lead" style="color: aliceblue;">Desde 1980 junto al deporte<p>
       
      </div>
    </div>
  </section>

  <!-- contenido del articulo -->
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1">
        
        <!-- incio titulo -->
        <div class="col">
          <div class="card shadow-sm" style="background-image: url({% static 'img/fondo_deporte.jpg' %});">            
            <div class="card-body">
              <p class="card-text">
                <h1 style="color: aliceblue;">Quienes Somos</h1>
              </p>
              <div class="d-flex justify-content-between align-items-center">                
              </div>
            </div>
          </div>
        </div>
        <!-- fin titulo -->
       <div style="margin-top: 20px;">
        <p>
        Somos un grup de personas comprometidos con el deporte a nivel nacional, importamos desde diferentes 
        paises los mejores y mas novedoso productos que permitan a nunestros clientes realizar sus rutinas de la mejor 
        forma posible. Ademas poseemos convenios con las mejores marcas para proporcionar articulos de primera calidad 
        para implementar gimnasios con lo ultimo en tecnologia.  
      </p>
      <p>Desde 1991 nos encontramos certificados con la norma ISO 9001, siempre para otorgar a nuestra clientela 
        la seguridad y confianza que nos caracteriza
      </p>
       <img src="img/iso.jpg" alt="">
       </div>

  




      </div>
    </div>
  </div>
{% endblock contenido %}