{% extends "core/base.html" %}
{% load static %}

{% block contenido %}


  <!-- titulo de articulo pagina-->
  <section class="py-5 text-center container" style="margin-top: 20px;">
    <div class="row py-lg-5" style="background-image: url({% static 'img/fondo.jpg' %});background-size: cover;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="img/logo-1668627386.jpg" alt="">
        <h1 class="fw-light" style="color: aliceblue;">Sport Home </h1>
        <p class="lead" style="color: aliceblue;">Desde 1980 junto al deporte<p>
       
      </div>
    </div>
  </section>

  <!-- contenido del articulo -->
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1">
        
        <!-- incio titulo -->
        <div class="col">
          <div class="card shadow-sm" style="background-image: url({% static 'img/fondo_deporte.jpg' %});">            
            <div class="card-body">
              <p class="card-text">
                <h1 style="color: aliceblue;">Muestras Sucursales</h1>
              </p>
              <div class="d-flex justify-content-between align-items-center">                
              </div>
            </div>
          </div>
        </div>
        <!-- fin titulo -->
       <div style="margin-top: 20px;">
        <p>  
          Contamos con 10 sucursales a lo largo de nuestro pais, 3 en santiago, 2 en concepcion,1 en arica, 2 en antofagasta y 2 en villarica. Nuestro equipo de trabajo siempre estara dispuesto a contestar todas sus preguntas desde los diferentes canales de comunicacion  
        </p>
       </div>
        <!-- sucursales -->

        <div class="row">

          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'img/sucursal1.JPG' %}" width="100%" height="200" style="margin-bottom: 15px;" alt="">
                <h3 class="card-title" style="text-align: center;"><b> Santiago</b></h3>
                <p class="card-text">Alameda 1255, Mall Estacion Central. Horario: Lunes - Sabado Desde: 10:00 a 19:00 Hrs</p>
                <a href="#" class="btn btn-primary">Como Llegar</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'img/sucursal2.JPG' %}" width="100%" height="200" style="margin-bottom: 15px;" alt="">

                <h3 class="card-title" style="text-align: center;"><b> Santiago</b></h3>
                <p class="card-text">Mall La Florida.  Horario: Lunes - Sabado Desde: 10:00 a 19:00 Hrs</p>
                <a href="#" class="btn btn-primary">Como Llegar</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'img/sucursal3.JPG' %}" width="100%" height="200" style="margin-bottom: 15px;" alt="">

                <h3 class="card-title" style="text-align: center;"><b>Concepcion</b></h3>
                <p class="card-text">Mall Plaza el Trebol. Horario: Lunes - Sabado Desde: 10:00 a 19:00 Hrs</p>
                <a href="#" class="btn btn-primary">Como Llegar</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'img/sucursal4.JPG' %}" width="100%" height="200" style="margin-bottom: 15px;" alt="">

                <h3 class="card-title" style="text-align: center;"><b>Arica</b></h3>
                <p class="card-text">Mall Plaza Arica. Horario: Lunes - Viernes Desde: 10:00 a 19:00 Hrs</p>
                <a href="#" class="btn btn-primary">Como Llegar</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'img/sucursal5.JPG' %}" width="100%" height="200" style="margin-bottom: 15px;" alt="">

                <h3 class="card-title" style="text-align: center;"><b>Villarica</b></h3>
                <p class="card-text">Mall Open Plaza Villarica.  Horario: Lunes - Sabado Desde: 10:00 a 19:00 Hrs</p>
                <a href="#" class="btn btn-primary">Como Llegar</a>
              </div>
            </div>
          </div>



        </div>

        <!-- fin sucursales -->
      </div>
    </div>
  </div>
{% endblock contenido %}