{% extends "core/base.html" %}
{% load static %}
{% block contenido %}


  <section class="py-5 text-center container" style="margin-top: 20px;">
    <div class="row py-lg-5" style="background-image: url({% static 'img/tenis1.jpg' %});background-size: cover;">
      <div class="col-2">
        <img src="{% static 'img/logo-1668627386.jpg' %}" alt="">
      </div>
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="color: aliceblue;">Tennis</h1>
        <p class="lead" style="color: aliceblue;">El tenis es mucho más que un deporte: es una pasión que despierta emociones y desafía los límites. En nuestra tienda, celebramos esta pasión ofreciendo una amplia gama de productos cuidadosamente seleccionados 
          para satisfacer las necesidades de jugadores y aficionados de todos los niveles<p>
       
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/tenis/art1.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Malla tenis portátil</p>
              <p class="card-text">$ 24.990</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/tenis/art2.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Canasto con ruedas</p>
              <p class="card-text">$ 34.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/basquet/art8.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Set vendas x4.</p>
              <p class="card-text">$ 3.990</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary"><p style="color: red;">No Disponible</p></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/tenis/art3.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Bolso porta raquetas</p>
              <p class="card-text">$ 29.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/tenis/art4.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Funda raqueta universal</p>
              <p class="card-text">$ 9.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/tenis/art5.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Soporte recoge pelotas.</p>
              <p class="card-text">$ 14.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/tenis/art6.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Sticker personalización</p>
              <p class="card-text">$ 3.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/tenis/art7.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Tarro pelotas x4>
              <p class="card-text">$ 5.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary"><p style="color: red;">No Disponible</p></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/tenis/art8.jpg' %}" width="100%" height="225" alt="">
            <div class="card-body">
              <p class="card-text">Grip raqueta</p>
              <p class="card-text">$ 3.990</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-body-secondary">Disponible</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}